*{
	box-sizing:border-box;
}

body{
	background-color: #f0dfdf;
	--background-image: url('imgbg.jpeg'); 
	padding:20px;
	font-family: Arial black;
}

.content{
	position:relative;
	background-color: rgba(173, 158, 158, 0.6);
	padding: 10px;
}

.content:hover .image{
	opacity: 0.6;
}

.content:hover .middle{
	opacity: 1;
}

.image{
	opacity: 0.3;
	display: block;
	height:auto;
	transition: .5s ease;
	backface-visibility:hidden;
}

.middle{
	transition: .5s ease;
	opacity:0;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align:center;
}

a{
	font-size: 65px;
	font-family: courier-new;
	color: black;
}

.text{
	background-color: #72e6e8;
	color:black;
	font-size: 46px;
	padding: 2px 8px ;
}
.main{
	max-width:1500px;
	margin:auto;
}

h1{
	font-size:50px;
	font-family: Algerian;
	color:white;
	font-weight:200%;
}
h2{
	font-family: Arial;
	font-size: 46px;
	background-color: rgba(245, 204, 22, 0.4);
	padding: 16px 30px;
	display: inline-block;
	border-radius: 80%;
}
.row{
	margin:8px-16px;
}

.column{
	
	float:left;
	width:50%;
}

.row,
.row>.column{
	padding: 8px;
}

.content{
	--background-color:white;
	padding:15px;
}

@media screen and (max-width:900px){
	.column{
		width:50%;
	}
}
 
@media screen and (max-width:600px){
	.column{
		width:100%;
	}
}

.surf a{
	font-size: 27px;
	font-family: verdana;
	box-sizing:border-box;
	background-color: black;
	color: #ddd;
	padding: 3px 5px;
	position: relative;
}

.surf a:hover{
	background-color: grey;
}