body{
	background-image:url('yello.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	position: relative;
}
h3{
	text-decoration:underline;
}

.collapse{
	font-size:15px;
	font-family:courier;
	color:black;
}
.collapse li{
	font-size:22px; 
	font-family:verdana;
}

.nav{
	font-size:20px;
	color:black;
}

.nav li{
	color:black;
	font-size:22px; 
	font-family:verdana
}
.container-fluid{
	font-size:20px;
	color:black;
}
.navbar-brand{
	font-size:25px;
	font-family:verdana;
	color:black;
}

.navbar-brand hover:{
	background-color: grey;
}

.jumbotron{
	text-align:left;
	font-size:20px;
	color: #ff005c;
	--padding-bottom:45px;
	background: none;
}

.frames{
	text-decoration: underline;
}
#pict{
	width: 300px;
	height: 250px;
	position: relative;
	left: 74%;
	bottom: 50%;
}

#pict1{
	width: 300px;
	height: 250px;
	position:relative;
	left: 22%;
	bottom: 50%;
}

#pict2{
	width: 300px;
	height: 250px;
	position: relative;
	top: 40%;
	right: 47%;
}

#pict3{
	width: 300px;
	height: 250px;
	position: relative;
	top: 40%;
	right: 47%;
}

.para{
	position: relative;
	bottom: 50%;
	display: block;
	left: 2.7%;
	font-size: 20px;
	color: #ca8a8b;
}
.para ul{
	text-decoration: underline; 	
	position: relative;
	right: 2%;
}
#pa1{
	color: black;
	display: inline-block;
	font-family:verdana;
	font-size: 7px;
	position: relative;
	left: 2%;
	top: 11%;
}

.p{
	font-family: verdana;
	opacity: 2;
}

.navbar{
	background-color: rgb(173, 235, 173,.8);
}
.navber{
	background-color: rgb(173, 235, 173,.8);
}
